{% extends "evs/layout1.html"%}

{% block content %}
    <div class="cause_div">
        <p>
            Pollution of rivers in India is continuously affecting many areas and affecting the human and environment living in these areas. Due to changes in the standard of river water, the quality of river water is changing, now it is no longer potable. Pollution of river water is affecting the ecosystem of the river. People are facing health-related problems due to the consumption of contaminated water from the river. The factors polluting the river water are industrial, agricultural, oil, social, religious, Disposal of Untreated Sewage, Littering, urban, Human Activities, domestic, etc., due to which the river water is getting polluted continuously. Act and Cess Act of 1974, 1977 have been made for the water prevention and control of pollution in India. 

        </p>
    </div>
    {% for a,b,c in content_list %}
    <div style="height: 60px;"id="{{a}}"></div>
    <div class="cause_div">
        <h3 >
            {{a}}
        </h3>
        <img src="{{b}}" alt="{{a}}" style="width: 400px;">
       
        <p style="width: 90%;margin: auto;">{{c}}</p>
    </div>
    {% endfor %}
{% endblock %}