{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <title>{{name}}</title>
    <link rel="stylesheet" href="{%static 'evs/style.css'%} ">
    <link   id="title-logo"
            rel="icon"
            href={{logo}}
            type="image/x-icon"
        />
</head>
<body>
    <header>
        <div id="Heading" style="background-image: url({{heading.1}})">
            <div style="margin: auto;display: flex ;
            flex-wrap: wrap;
            justify-content: center;">
            <h1 style="padding-top: 120px;">
                {{heading.0}}
            </h1>
        </div>
            <nav>
                {% for i in nav_names%}
                    {% if i == name%}
                        <a href={{i}} class="active">{{i}}</a>
                    {% else %}
                        <a href="{{i}}">{{i}}</a>
                    {% endif %}
                {% endfor %}
                <img src={{logo}} id="logo" alt="fish">
            </nav>
    </header>
    <div style="height: 50px;">

    </div>
    <div class="cause_div">
       <!-- <form action="">
            <label for="name">Enter Name: </label><br>
                <input type="text" id="name" name="name" required><br>
            <label for="email">Email Id: </label><br>
                <input type="email" id="email" name="email" required><br>
            <label for="phone">Enter a phone number:</label><br>
                <input type="tel" id="phone" name="phone" placeholder="00000000000" pattern="[0-9]{10}" required><br>
            <label for="Q1">Share some of the pictures of the water bodies around you which you think are polluted?<br>Select a file:</label><br>
                <input type="file" id="Q1" name="Q1" required><br>
            <label for="Q2">Discuss what measures government & their related organizations must take in order to prevent water pollution.</label><br>
                <input type="text" id="Q2" name="Q2" required><br>
            <label for="Q3">How are you contributing towards making water bodies pollution friendly?</label><br>
                <input type="text" id="Q3" name="Q3" required><br>
            <label for="Q4">If given chance will you contribute in making people aware about the harms caused by water pollution and how they can contribute in order to reduce pollution from the environment?</label><br>
                <input type="text" id="Q4" name="Q4" required><br>
                <input type="submit" value="Submit"><br>
                <input type="reset" value="Reset">
              
        </form>
    </div>
    -->
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScY84_t8Qm2jLUm4wifNrzhXAW2vZjaL2Cy3pkN2gj-1Y16Aw/viewform?embedded=true" width="640" height="1178" frameborder="0" marginheight="0" marginwidth="0" style="margin-top: 30px ;">Loading…</iframe>
    <div style="height: 50px;">

    </div>
    <div style="height: 30px;">

    </div>
</body>
</html>