<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVS</title>
    <link rel="stylesheet" href="{%static 'evs/style.css'%} ">
</head>
<body>
    <nav>
        <a href="#" class="active">link1</a> 
        <a href="#">link2</a> 
        <a href="#">link3</a> 
        <a href="#">link4</a> 
        <a href="#">link5</a>
        <img src="https://img.freepik.com/free-vector/sea-animal-cartoon-sticker-with-cute-fish_1308-75896.jpg?w=1380&t=st=1714400607~exp=1714401207~hmac=6f3a5b850685ab51e8bee2ac36ea2fad282bcd1b75d3b034fcb76846433b71a7"
        style="height: 30px;" alt="fish">
    </nav>
    <h1 style="margin: 40px; text-align: center;">
        Aquatic life
    </h1>
    <div style="text-align: center;">
    <img src="https://img.freepik.com/free-vector/sea-animal-cartoon-sticker-with-cute-fish_1308-75896.jpg?w=1380&t=st=1714400607~exp=1714401207~hmac=6f3a5b850685ab51e8bee2ac36ea2fad282bcd1b75d3b034fcb76846433b71a7"
        style="height: 300px;" alt="fish">
    </div>
    
</body>
</html>