{% extends "evs/layout1.html"%}
{% block content%}


{% for a,b,c,d,e,f in content_list%}
        <div style="height: 60px;"id="{{a}}"></div>
        <div class="cause_div" style="margin: auto;display: flex ;flex-wrap: wrap; justify-content: left">
            <div style="width: 600px;">
            <h3 >
                {{a}}
            </h3>
            <p>{{b}}</p>
            <p>Website: {{c}}</p>
            <p>Email: {{d}}</p>
            <p>Contact info: {{e}}</p>
            </div>
            <img src="{{f}}" alt="{{a}}" style="width: 400px;"id="{{a}}">
            
        </div>

    {% endfor %}
{% endblock %}

