{% extends "evs/layout1.html"%}
{% block content%}
    {% for a,b,c in content_list%}
    <div style="height: 60px;"id="{{a}}"></div>
        <div class="cause_div">
            <h3 >
                {{a}}
            </h3>
            {% if b == blank %}
            <p>{{c}}</p>
            
            {% else %}
            <div class="cause_div_a">
            <img src="{{b}}" alt="{{a}}" style="width: 400px;"id="{{a}}">
            <p>{{c}}</p>
            </div>
            {% endif %}
            
        </div>
    {% endfor %}
{% endblock %}