{% extends "evs/layout1.html"%}
{% block content%}

<div class="solution_div">
    <p>
        
        River Pollution threatens aquatic life and our own well-being. Well, solutions exist! We can tackle agricultural runoff through stricter regulations and better practices. Industrial waste can be controlled with stronger regulations and advanced treatment facilities. Upgrading sewage treatment and infrastructure minimizes harmful discharges. Invasive species can be prevented by stricter waterborne controls and responsible boating practices. Together, we can protect vital wetlands and mangroves, nature's water filters. Finally, by reducing carbon emissions, we can combat ocean acidification, a hidden threat to marine life. These steps, if taken together, can ensure healthy rivers for generations to come. 

    </p>
</div>
    {% for a,b,c in content_list%}
    <div style="height: 60px;"id="{{a}}"></div>
        <div class="cause_div">
            <h3 >
                {{a}}
            </h3>
            {% if b == blank %}
            <p>{{c}}</p>
            
            {% else %}
            <div class="cause_div_a">
            <img src="{{b}}" alt="{{a}}" style="width: 400px;"id="{{a}}">
            <p>{{c}}</p>
            </div>
            {% endif %}
            
        </div>
    {% endfor %}
{% endblock %}