nav 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303866;
    color: #CCCCCC;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: inline;
    border-bottom: 10px solid #262d51 ;
    
    
}
 
nav>a 
{   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #CCCCCC;
    font-size: 25px;
    float: right;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 10px;
}
.active{
    background-color:   #AACCFF;
    color: #303866;
    
    
  }
.active:hover
{
    background-color:  #AACCFF;
}
nav>a:hover
{
    background-color: #262d51;
}
body
{
    background-color:#a3d5e6;
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 40px;
}
nav>img
{
    border-radius: 2px;
    padding-left: 5px;
}
#tagline
{
    text-align: center;
}
.description
{
    font-family:Helvetica, sans-serif;
    text-align: center;
}
.multi
{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}
.multi-part
{
    margin: 10px;
    width: 400px;
    text-align: center;
}
footer
{
    background-color: #303866;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border-top: 10px solid #262d51;
    text-align: center;
    margin-top: 20px;
}
.multi-part>img
{
    height: 150px;
}
#vertical-nav
{   position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0%;
    height:100%;
    width: 160px ;
    background-color: #303866;
    border-right: 10px solid #262d51;
    
}
#vertical-nav>ul
{   
    list-style-type: none;
    margin:0;
    margin-top: 50px;
    padding: 0;
    width: 160px;
    text-align: center;
    height:100px;
    
}
#vertical-nav>ul>li>a
{
    color: #303866;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    

}
#vertical-nav>ul>li
{
    width: 150px;
    background-color: #a3d5e6;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    float:center;
    border:3px solid white;
    text-align: center;
}
#content
{
    margin-top: 50px;
    margin-left: 170px;
    
}
#logo
{
    height: 40px;
    border-radius: 50%;

}

#title-logo
{
    border-radius: 50%;
}
#Heading
{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2f5571f4-d270-4f58-94d8-e039daf7dc9f/d9fhi8w-623cd981-737d-4a13-a020-def9e30ffffe.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmNTU3MWY0LWQyNzAtNGY1OC05NGQ4LWUwMzlkYWY3ZGM5ZlwvZDlmaGk4dy02MjNjZDk4MS03MzdkLTRhMTMtYTAyMC1kZWY5ZTMwZmZmZmUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HLdfHpbzcyFx06cXHrBq0n2rINz36ufo14chsujCpWs");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 60%;
    height: 400px;
    margin-top: 20px;
    color:white;
    
    border-bottom: 10px solid #262d51;
}
#Heading>div
{   margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.cause_div
{
    background-color: #F5F5DC;
    width: 80%;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    padding: 5px;
    box-shadow: 10px 10px 5px rgb(202, 226, 234);
    border: 5px solid #8B4513;
}
.cause_div>img
{
    border-radius: 15px;
    margin: 5px;
    border: 5px solid #8B4513;
}
.cause_div>h3
{
    color:#8B4513 ;
    font-size: 25px;
}
.cause_div>p
{
    margin: 5px;
    color: #8B4513;
}
