nav 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: inline;
    border-bottom: 10px solid green;
    
    
}
 
nav>a 
{   font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    font-size: 27px;
    float: right;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #bbb;
    text-align: center;
    border-radius: 10px;
}
.active{
    background-color: #04AA6D;
    
  }
.active:hover
{
    background-color: #04AA6D ;
}
nav>a:hover
{
    background-color: #111;
}
body
{
    background-color:lightcyan;
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 40px;
}
nav>img
{
    border-radius: 2px;
    padding-left: 5px;
}
#tagline
{
    text-align: center;
}
.description
{
    font-family:Helvetica, sans-serif;
    text-align: center;
}
.multi
{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}
.multi-part
{
    margin: 10px;
    width: 400px;
    text-align: center;
}
footer
{
    background-color: darkblue;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border-top: 4px solid green;
    text-align: center;
}
.multi-part>img
{
    height: 150px;
}
#vertical-nav
{   position: fixed;
    top: 10;
    left: 0;
    margin: 0;
    padding: 0%;
    height:100%;
    width: 160px ;
    background-color: darkblue;
    border-right: 4px solid green;
    
}
#vertical-nav>ul
{   
    list-style-type: none;
    margin:0;
    margin-top: 50px;
    padding: 0;
    width: 160px;
    
    text-align: center;
    height:100px;
    
}
#vertical-nav>ul>li>a
{
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    

}
#vertical-nav>ul>li
{
    width: 150px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float:center;
    border:4px solid white;
    text-align: center;
}
#content
{
    margin-top: 50px;
    margin-left: 170px;
    text-align: center;
}
#logo
{
    height: 40px;
    border-radius: 50%;

}
#title-logo
{
    border-radius: 50%;
}
#Heading
{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2f5571f4-d270-4f58-94d8-e039daf7dc9f/d9fhi8w-623cd981-737d-4a13-a020-def9e30ffffe.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmNTU3MWY0LWQyNzAtNGY1OC05NGQ4LWUwMzlkYWY3ZGM5ZlwvZDlmaGk4dy02MjNjZDk4MS03MzdkLTRhMTMtYTAyMC1kZWY5ZTMwZmZmZmUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HLdfHpbzcyFx06cXHrBq0n2rINz36ufo14chsujCpWs");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 60%;
    height: 400px;
    margin-top: 20px;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 10px solid green;
}
#Heading>div
{   margin-top: 20px;
    text-align: center;
    justify-content: center;
}

